<?xml version="1.0" encoding="utf-8"?>
<beans
  default-autowire="byType"
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

  <!-- Top-level Resources -->
  <bean id="powerShellApiResource"
        lazy-init="true"
        class="com.redhat.rhevm.api.common.resource.DefaultApiResource"/>

  <bean id="powerShellVmsResource"
        lazy-init="true"
        class="com.redhat.rhevm.api.powershell.resource.PowerShellVmsResource"/>

  <bean id="powerShellHostsResource"
        lazy-init="true"
        class="com.redhat.rhevm.api.powershell.resource.PowerShellHostsResource"/>

  <bean id="powerShellNetworksResource"
        lazy-init="true"
        class="com.redhat.rhevm.api.powershell.resource.PowerShellNetworksResource"/>

  <bean id="powerShellTemplatesResource"
        lazy-init="true"
        class="com.redhat.rhevm.api.powershell.resource.PowerShellTemplatesResource"/>

  <bean id="powerShellStorageDomainsResource"
        lazy-init="true"
        class="com.redhat.rhevm.api.powershell.resource.PowerShellStorageDomainsResource"/>

  <bean id="powerShellDataCentersResource"
        lazy-init="true"
        class="com.redhat.rhevm.api.powershell.resource.PowerShellDataCentersResource"/>

  <bean id="powerShellClustersResource"
        lazy-init="true"
        class="com.redhat.rhevm.api.powershell.resource.PowerShellClustersResource"/>

  <bean id="powerShellVmPoolsResource"
        lazy-init="true"
        class="com.redhat.rhevm.api.powershell.resource.PowerShellVmPoolsResource"/>

  <bean id="powerShellCpusResource" class="com.redhat.rhevm.api.common.resource.DefaultCpusResource"/>

  <!-- PowerShell instance pooling -->
  <bean id="poolMap" class="com.redhat.rhevm.api.powershell.util.PowerShellPoolMap"/>

  <!-- Shared Executor -->
  <bean id="keepAliveUnit"
        class="java.util.concurrent.TimeUnit"
        factory-method="valueOf">
    <constructor-arg>
      <value>SECONDS</value>
    </constructor-arg>
  </bean>

  <bean id="taskQueue"
        class="java.util.concurrent.LinkedBlockingQueue"/>

  <bean id="threadPoolExecutor"
        class="java.util.concurrent.ThreadPoolExecutor">
    <constructor-arg value="5"/>
    <constructor-arg value="100"/>
    <constructor-arg value="3600"/>
    <constructor-arg><ref bean="keepAliveUnit"/></constructor-arg>
    <constructor-arg><ref bean="taskQueue"/></constructor-arg>
  </bean>

  <!-- BASIC Auth infrastructure -->

  <bean id="authChallenger" class="com.redhat.rhevm.api.common.security.auth.Challenger">
    <property name="realm" value="RHEVM"/>
  </bean>

  <bean id="basicAuth" class="com.redhat.rhevm.api.common.security.auth.BasicAuthorizationScheme"/>

  <bean id="current" class="com.redhat.rhevm.api.common.invocation.Current"/>

</beans>
 

