  <!-- args: id, name, description, diskSize, vmSnapshotId, parentId, lastModified, internalDriveMapping -->
  <Object Type="RhevmCmd.CLIImage">
    <Property Name="SnapshotId" Type="System.String">{0}</Property>
    <Property Name="CreationDate" Type="System.DateTime">10/12/1969 17:29:35</Property>
    <Property Name="LastModified" Type="System.DateTime">{6}</Property>
    <Property Name="ActualSizeInBytes" Type="System.Double">{3}</Property>
    <Property Name="ActualSizeInMB" Type="System.Double">1279.09765625</Property>
    <Property Name="ActualSizeInGB" Type="System.Double">1.24911880493164</Property>
    <Property Name="Description" Type="System.String">{2}</Property>
    <Property Name="VmSnapshotId" Type="System.String">{4}</Property>
    <Property Name="SizeInGB" Type="System.Int64">10</Property>
    <Property Name="ParentId" Type="System.String">{5}</Property>
    <Property Name="Status" Type="VdcDAL.ImageStatus">
      <Property Name="value__" Type="System.Int32">1</Property>
    </Property>
    <Property Name="AppList" Type="System.String" />
    <Property Name="VolumeType" Type="VdcDAL.VolumeType">
      <Property Name="value__" Type="System.Int32">2</Property>
    </Property>
    <Property Name="VolumeFormat" Type="VdcDAL.VolumeFormat">
      <Property Name="value__" Type="System.Int32">5</Property>
    </Property>
    <Property Name="DiskType" Type="VdcDAL.DiskType">
      <Property Name="value__" Type="System.Int32">1</Property>
    </Property>
    <Property Name="InternalDriveMapping" Type="System.String">{7}</Property>
    <Property Name="Boot" Type="System.Boolean">True</Property>
    <Property Name="DiskInterface" Type="System.String">IDE</Property>
    <Property Name="WipeAfterDelete" Type="System.Boolean">False</Property>
    <Property Name="PropagateErrors" Type="VdcDAL.PropagateErrors">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
  </Object>
  <Object Type="RhevmCmd.CLITask">
    <Property Name="TaskId" Type="System.String">9ee9fceb-378e-453f-b7a6-d9dc6a44ef2e</Property>
  </Object>
  <Object Type="VdcCommon.AsyncTasks.AsyncTaskStatus">
    <Property Name="Status" Type="VdcCommon.AsyncTasks.AsyncTaskStatusEnum">
      <Property Name="value__" Type="System.Int32">1</Property>
    </Property>
    <Property Name="StatusSpecified" Type="System.Boolean">True</Property>
    <Property Name="Result" Type="VdcCommon.AsyncTasks.AsyncTaskResultEnum">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
    <Property Name="ResultSpecified" Type="System.Boolean">True</Property>
    <Property Name="Message" Type="System.String" />
    <Property Name="TaskIsRunning" Type="System.Boolean">True</Property>
    <Property Name="TaskEndedSuccessfully" Type="System.Boolean">False</Property>
  </Object>
