  <!-- args: id, name, description, code, severity -->
  <Object Type="RhevmCmd.CLIEvent">
    <Property Name="Id" Type="System.Int64">{0}</Property>
    <Property Name="LogTime" Type="System.DateTime">24/01/2011 15:20:35</Property>
    <Property Name="LogType" Type="System.Int32">{3}</Property>
    <Property Name="Message" Type="System.String">{2}</Property>
    <Property Name="Severity" Type="VdcDAL.AuditLogSeverity">
      <Property Name="value__" Type="System.Int32">{4}</Property>
    </Property>
    <Property Name="UserId" Type="System.String">225f15cd-e891-434d-8262-a66808fcb9b1</Property>
    <Property Name="UserName" Type="System.String">rhevmadmin</Property>
    <Property Name="HostId" Type="System.Nullable`1[[System.Int32, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" />
    <Property Name="HostName" Type="System.String" />
    <Property Name="VmId" Type="System.String">00000000-0000-0000-0000-000000000000</Property>
    <Property Name="VmName" Type="System.String" />
    <Property Name="VmTemplateId" Type="System.String" />
    <Property Name="VmTemplateName" Type="System.String" />
    <Property Name="StorageDomainId" Type="System.Nullable`1[[System.Guid, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" />
    <Property Name="StorageDomainName" Type="System.String" />
  </Object>
