  <!-- args: id, name, unused description, domain -->
  <Object Type="RhevmCmd.CLIUser">
    <Property Name="UserId" Type="System.String">{0}</Property>
    <Property Name="Department" Type="System.String" />
    <Property Name="Domain" Type="System.String">{3}</Property>
    <Property Name="Email" Type="System.String" />
    <Property Name="Groups" Type="System.String[]" />
    <Property Name="Name" Type="System.String">{1}@{3}</Property>
    <Property Name="Status" Type="System.String">Inactive</Property>
    <Property Name="LastName" Type="System.String" />
    <Property Name="UserName" Type="System.String" />
    <Property Name="IsLoggedIn" Type="System.Boolean">False</Property>
  </Object>
