  <!-- args: id, name, description, network, mac, ip, subnet, isBond, bondXml -->
  <Object Type="RhevmCmd.CLIHostNetworkAdapter">
    <Property Name="Id" Type="System.String">{0}</Property>
    <Property Name="Gateway" Type="System.String" />
    <Property Name="Subnet" Type="System.String">{6}</Property>
    <Property Name="Address" Type="System.String">{5}</Property>
    <Property Name="Speed" Type="System.Int32">100</Property>
    <Property Name="VlanId" Type="System.Int32">0</Property>
    <Property Name="BondType" Type="System.Int32">0</Property>
    <Property Name="BondName" Type="System.String" />
    <Property Name="MacAddress" Type="System.String">{4}</Property>
    <Property Name="Name" Type="System.String">{1}</Property>
    <Property Name="Network" Type="System.String">{3}</Property>
    <Property Name="LineSpeed" Type="System.Int32">100</Property>
    <Property Name="TxDropped" Type="System.Double">0</Property>
    <Property Name="IsBond" Type="System.Boolean">{7}</Property>
    {8}
  </Object>
