  <!-- args: id, name, description, clusterId, address, port -->
  <Object Type="RhevmCmd.CLIHost">
    <Property Name="HostId" Type="System.Guid">{0}</Property>
    <Property Name="HostClusterId" Type="System.Guid">{3}</Property>
    <Property Name="Name" Type="System.String">{1}</Property>
    <Property Name="Address" Type="System.String">{4}</Property>
    <Property Name="HostType" Type="System.String">RHEL</Property>
    <Property Name="Port" Type="System.Int32">{5}</Property>
    <Property Name="HostVersion" Type="System.String">2.2.0.62</Property>
    <Property Name="UseSecureConnection" Type="System.Boolean">False</Property>
    <Property Name="Status" Type="System.String">Up</Property>
    <Property Name="SpmStatus" Type="VdcDAL.VdsSpmStatus">
      <Property Name="value__" Type="System.Int32">2</Property>
    </Property>
    <Property Name="HardwareAccelerationEnabled" Type="System.Boolean">True</Property>
    <Property Name="Protocol" Type="System.Decimal">4.5</Property>
    <Property Name="VmCount" Type="System.Int32">1</Property>
    <Property Name="VmActive" Type="System.Int32">1</Property>
    <Property Name="VmMigrating" Type="System.Int32">0</Property>
    <Property Name="HostStrength" Type="System.Int32">100</Property>
    <Property Name="PowerManagement" Type="RhevmCmd.CLIHostPowerManagement">
      <Property Name="Enabled" Type="System.Boolean">False</Property>
      <Property Name="Address" Type="System.String" />
      <Property Name="Type" Type="System.String" />
      <Property Name="UserName" Type="System.String" />
      <Property Name="Password" Type="System.String" />
      <Property Name="Port" Type="System.Nullable`1[[System.Int32, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" />
      <Property Name="Slot" Type="System.Nullable`1[[System.Int32, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" />
      <Property Name="Secure" Type="System.Nullable`1[[System.Boolean, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" />
      <Property Name="Options" Type="System.String" />
    </Property>
  </Object>
  <Object Type="RhevmCmd.CLIMemory">
    <Property Name="PhysicalMemory" Type="System.Int32">4096</Property>
    <Property Name="CommitedMemory" Type="System.Int32">1154</Property>
    <Property Name="UsagePercents" Type="System.Int32">50</Property>
    <Property Name="SwapFree" Type="System.Int64">2060</Property>
    <Property Name="SwapTotal" Type="System.Int64">3955</Property>
  </Object>
  <Object Type="RhevmCmd.CLICpu">
    <Property Name="Name" Type="System.String">Intel Xeon Core i7</Property>
    <Property Name="Model" Type="System.String">Intel(R) Xeon(R) CPU W3520  @ 2.67GHz</Property>
    <Property Name="Cores" Type="System.Int32">4</Property>
    <Property Name="Speed" Type="System.Decimal">2667</Property>
    <Property Name="User" Type="System.Decimal">10</Property>
    <Property Name="System" Type="System.Decimal">20</Property>
    <Property Name="Idle" Type="System.Decimal">30</Property>
    <Property Name="Load" Type="System.Decimal">2.1</Property>
  </Object>
  <Object Type="RhevmCmd.CLIKsm">
    <Property Name="Enabled" Type="System.Boolean">False</Property>
    <Property Name="CPU" Type="System.Int32">5</Property>
    <Property Name="Pages" Type="System.Int64">0</Property>
    <Property Name="MemoryShared" Type="System.Int64">8</Property>
    <Property Name="MemoryAvailable" Type="System.Int64">-866</Property>
  </Object>
