  <!-- args: id, name, description -->
  <Object Type="RhevmCmd.CLIStorageDomain">
    <Property Name="StorageDomainId" Type="System.String">{0}</Property>
    <Property Name="VGId" Type="System.String">c1Mcbr-n3c7-2N0Z-xS4k-CF8U-8HOu-IWOR44</Property>
    <Property Name="DomainType" Type="System.String">Export</Property>
    <Property Name="Name" Type="System.String">{1}</Property>
    <Property Name="DataCenterId" Type="System.String" />
    <Property Name="DataCenterName" Type="System.String" />
    <Property Name="Type" Type="VdcDAL.StorageType">
      <Property Name="value__" Type="System.Int32">2</Property>
    </Property>
    <Property Name="NFSPath" Type="System.String" />
    <Property Name="AvailableDiskSize" Type="System.Int32">506</Property>
    <Property Name="Status" Type="System.Nullable`1[[VdcDAL.StorageDomainStatus, VdcCommon, Version=4.5.0.0, Culture=neutral, PublicKeyToken=8b4f8b6c06b68ee3]]" />
    <Property Name="SharedStatus" Type="VdcDAL.StorageDomainSharedStatus">
      <Property Name="value__" Type="System.Int32">1</Property>
    </Property>
    <Property Name="UsedDiskSize" Type="System.Int32">517</Property>
    <Property Name="CommittedDiskSize" Type="System.Int32">0</Property>
  </Object>

