  <!-- args: id, name, description -->
  <Object Type="RhevmCmd.CLITag">
    <Property Name="TagID" Type="System.Int32">{0}</Property>
    <Property Name="Name" Type="System.String">{1}</Property>
    <Property Name="Description" Type="System.String">{2}</Property>
    <Property Name="ParentId" Type="System.Int32">-1</Property>
    <Property Name="ReadOnly" Type="System.Boolean">False</Property>
  </Object>
