  <!-- args: id, name, description, clusterId, memsize, bootSequence, nSockets, nCpus -->
  <Object Type="RhevmCmd.CLITemplate">
    <Property Name="TemplateId" Type="System.String">{0}</Property>
    <Property Name="CreationDate" Type="System.DateTime">01/04/2008 00:00:00</Property>
    <Property Name="Description" Type="System.String">{2}</Property>
    <Property Name="MemSizeMb" Type="System.Int32">{4}</Property>
    <Property Name="Name" Type="System.String">{1}</Property>
    <Property Name="NumOfSockets" Type="System.Int32">{6}</Property>
    <Property Name="NumOfCpusPerSocket" Type="System.Int32">{7}</Property>
    <Property Name="OperatingSystem" Type="System.String">Unassigned</Property>
    <Property Name="HostClusterId" Type="System.Guid">{3}</Property>
    <Property Name="Domain" Type="System.String">VirtualMachineDomainName</Property>
    <Property Name="ChildCount" Type="System.Int32">2</Property>
    <Property Name="SizeGB" Type="System.Double">80</Property>
    <Property Name="ActualDiskSize" Type="System.Double">0</Property>
    <Property Name="NumOfMonitors" Type="System.Int32">1</Property>
    <Property Name="Status" Type="VdcCommon.BusinessEntities.VmTemplateStatus">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
    <Property Name="NiceLevel" Type="System.Int32">0</Property>
    <Property Name="FailBack" Type="System.Boolean">False</Property>
    <Property Name="DefaultBootSequence" Type="VdcCommon.BusinessEntities.BootSequence">
      <Property Name="value__" Type="System.Int32">{5}</Property>
    </Property>
    <Property Name="VmType" Type="VdcCommon.BusinessEntities.VmType">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
    <Property Name="HypervisorType" Type="VdcCommon.BusinessEntities.HypervisorType">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
    <Property Name="OperationMode" Type="VdcCommon.BusinessEntities.OperationMode">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
    <Property Name="USBPolicy" Type="VdcCommon.BusinessEntities.UsbPolicy">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
    <Property Name="TimeZone" Type="System.String" />
    <Property Name="AutoStartup" Type="System.Boolean">False</Property>
    <Property Name="IsStateless" Type="System.Boolean">False</Property>
    <Property Name="CdIsoPath" Type="System.String" />
    <Property Name="DisplayType" Type="System.String">VNC</Property>
    <Property Name="Origin" Type="VdcCommon.BusinessEntities.OriginType">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
  </Object>
  <Object Type="RhevmCmd.CLITask">
    <Property Name="TaskId" Type="System.String">9ee9fceb-378e-453f-b7a6-d9dc6a44ef2e</Property>
  </Object>
  <Object Type="VdcCommon.BusinessEntities.AsyncTaskStatus">
    <Property Name="Status" Type="VdcCommon.BusinessEntities.AsyncTaskStatusEnum">
      <Property Name="value__" Type="System.Int32">1</Property>
    </Property>
    <Property Name="StatusSpecified" Type="System.Boolean">True</Property>
    <Property Name="Result" Type="VdcCommon.BusinessEntities.AsyncTaskResultEnum">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
    <Property Name="ResultSpecified" Type="System.Boolean">True</Property>
    <Property Name="Message" Type="System.String" />
    <Property Name="TaskIsRunning" Type="System.Boolean">True</Property>
    <Property Name="TaskEndedSuccessfully" Type="System.Boolean">False</Property>
  </Object>
