  <!-- args: major, minor -->
  <Object Type="RhevmCmd.CLICompatibilityVersion">
    <Property Name="MinorRevision" Type="System.Int16">-1</Property>
    <Property Name="MajorRevision" Type="System.Int16">-1</Property>
    <Property Name="Major" Type="System.Int32">{0}</Property>
    <Property Name="Minor" Type="System.Int32">{1}</Property>
    <Property Name="Build" Type="System.Int32">-1</Property>
    <Property Name="Revision" Type="System.Int32">-1</Property>
  </Object>
