  <!-- args: id, name, description, clusterId, templateId, memsize, bootSequence, nSockets, nCpus, cdIsoPath, floppyPath, runningOnHost, poolId -->
  <Object Type="RhevmCmd.CLIVm">
    <Property Name="VmId" Type="System.String">{0}</Property>
    <Property Name="Name" Type="System.String">{1}</Property>
    <Property Name="Description" Type="System.String">{2}</Property>
    <Property Name="HostClusterId" Type="System.Guid">{3}</Property>
    <Property Name="TemplateId" Type="System.String">{4}</Property>
    <Property Name="Session" Type="System.String">Unknown</Property>
    <Property Name="MemorySize" Type="System.Int32">{5}</Property>
    <Property Name="Priority" Type="System.Int32">0</Property>
    <Property Name="Domain" Type="System.String" />
    <Property Name="OperatingSystem" Type="System.String">OtherLinux</Property>
    <Property Name="CreationDate" Type="System.DateTime">20/07/2010 17:28:18</Property>
    <Property Name="NumOfMonitors" Type="System.Int32">1</Property>
    <Property Name="NumOfSockets" Type="System.Int32">{7}</Property>
    <Property Name="NumOfCpusPerSocket" Type="System.Int32">{8}</Property>
    <Property Name="DefaultHostId" Type="System.Nullable`1[[System.Guid, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" />
    <Property Name="NiceLevel" Type="System.Int32">0</Property>
    <Property Name="FailBack" Type="System.Boolean">False</Property>
    <Property Name="DefaultBootSequence" Type="VdcCommon.BusinessEntities.BootSequence">
      <Property Name="value__" Type="System.Int32">{6}</Property>
    </Property>
    <Property Name="VmType" Type="VdcCommon.BusinessEntities.VmType">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
    <Property Name="HypervisorType" Type="VdcCommon.BusinessEntities.HypervisorType">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
    <Property Name="OperationMode" Type="VdcCommon.BusinessEntities.OperationMode">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
    <Property Name="AutoStartup" Type="System.Boolean">False</Property>
    <Property Name="Stateless" Type="System.Boolean">False</Property>
    <Property Name="DisplayType" Type="System.String">Spice</Property>
    <Property Name="CdIsoPath" Type="System.String">{9}</Property>
    <Property Name="FloppyPath" Type="System.String">{10}</Property>
    <Property Name="Origin" Type="System.String">RHEV</Property>
    <Property Name="KvmEnabled" Type="System.Boolean">True</Property>
    <Property Name="RunAndPause" Type="System.Boolean">False</Property>
    <Property Name="AcpiEnabled" Type="System.Boolean">True</Property>
    <Property Name="Status" Type="System.String">Up</Property>
    <Property Name="Ip" Type="System.String" />
    <Property Name="HostName" Type="System.String" />
    <Property Name="UpTime" Type="System.TimeSpan">00:06:24</Property>
    <Property Name="LoginTime" Type="System.Nullable`1[[System.DateTime, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" />
    <Property Name="CurrentUserName" Type="System.String">Unknown</Property>
    <Property Name="LastLogoutTime" Type="System.Nullable`1[[System.DateTime, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" />
    <Property Name="ElapsedTime" Type="System.Decimal">384</Property>
    <Property Name="RunningOnHost" Type="System.Guid">{11}</Property>
    <Property Name="MigratingToHost" Type="System.Guid">00000000-0000-0000-0000-000000000000</Property>
    <Property Name="ApplicationList" Type="System.String[]">
      <Property Type="System.String" />
    </Property>
    <Property Name="DisplayPort" Type="System.Int32">5910</Property>
    <Property Name="HighlyAvailable" Type="System.Boolean">False</Property>
    <Property Name="TimeZone" Type="System.String" />
    <Property Name="PoolId" Type="System.Guid">{12}</Property>
  </Object>
  <Object Type="RhevmCmd.MemoryStatistics">
    <Property Name="memSizeMb" Type="System.Int32">1024</Property>
    <Property Name="usageMemPercent" Type="System.Int32">50</Property>
  </Object>
  <Object Type="RhevmCmd.CLICpu">
    <Property Name="Name" Type="System.String">Virtual CPU</Property>
    <Property Name="Model" Type="System.String">Virtual CPU</Property>
    <Property Name="Cores" Type="System.Int32">1</Property>
    <Property Name="Speed" Type="System.Decimal">0</Property>
    <Property Name="User" Type="System.Decimal">10</Property>
    <Property Name="System" Type="System.Decimal">20</Property>
    <Property Name="Idle" Type="System.Decimal">30</Property>
    <Property Name="Load" Type="System.Decimal">40</Property>
  </Object>
  <Object Type="RhevmCmd.CLITask">
    <Property Name="TaskId" Type="System.String">9ee9fceb-378e-453f-b7a6-d9dc6a44ef2e</Property>
  </Object>
  <Object Type="VdcCommon.BusinessEntities.AsyncTaskStatus">
    <Property Name="Status" Type="VdcCommon.BusinessEntities.AsyncTaskStatusEnum">
      <Property Name="value__" Type="System.Int32">1</Property>
    </Property>
    <Property Name="StatusSpecified" Type="System.Boolean">True</Property>
    <Property Name="Result" Type="VdcCommon.BusinessEntities.AsyncTaskResultEnum">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
    <Property Name="ResultSpecified" Type="System.Boolean">True</Property>
    <Property Name="Message" Type="System.String" />
    <Property Name="TaskIsRunning" Type="System.Boolean">True</Property>
    <Property Name="TaskEndedSuccessfully" Type="System.Boolean">False</Property>
  </Object>

