  <!-- args: id, name, description, clusterId, templateId, memsize, bootSequence, nSockets, nCpus, cdIsoPath, runningOnHost, poolId -->
  <Object Type="RhevmCmd.CLIVm">
    <Property Name="VmId" Type="System.String">{0}</Property>
    <Property Name="Name" Type="System.String">{1}</Property>
    <Property Name="Description" Type="System.String">{2}</Property>
    <Property Name="HostClusterId" Type="System.Int32">{3}</Property>
    <Property Name="TemplateId" Type="System.String">{4}</Property>
    <Property Name="Session" Type="System.String">Unknown</Property>
    <Property Name="MemorySize" Type="System.Int32">{5}</Property>
    <Property Name="Priority" Type="System.Int32">0</Property>
    <Property Name="Domain" Type="System.String">RHEV</Property>
    <Property Name="OperatingSystem" Type="System.String">Windows7x64</Property>
    <Property Name="CreationDate" Type="System.DateTime">04/06/2010 14:03:00</Property>
    <Property Name="NumOfMonitors" Type="System.Int32">1</Property>
    <Property Name="NumOfSockets" Type="System.Int32">{7}</Property>
    <Property Name="NumOfCpusPerSocket" Type="System.Int32">{8}</Property>
    <Property Name="DefaultHostId" Type="System.Nullable`1[[System.Int32, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" />
    <Property Name="NiceLevel" Type="System.Int32">0</Property>
    <Property Name="FailBack" Type="System.Boolean">False</Property>
    <Property Name="DefaultBootSequence" Type="VdcDAL.BootSequence">
      <Property Name="value__" Type="System.Int32">{6}</Property>
    </Property>
    <Property Name="VmType" Type="VdcDAL.VmType">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
    <Property Name="HypervisorType" Type="VdcDAL.HypervisorType">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
    <Property Name="OperationMode" Type="VdcDAL.OperationMode">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
    <Property Name="AutoStartup" Type="System.Boolean">False</Property>
    <Property Name="Stateless" Type="System.Boolean">False</Property>
    <Property Name="DisplayType" Type="System.String">Spice</Property>
    <Property Name="CdIsoPath" Type="System.String">{9}</Property>
    <Property Name="FloppyPath" Type="System.String" />
    <Property Name="Origin" Type="System.String">RHEV</Property>
    <Property Name="KvmEnabled" Type="System.Boolean">True</Property>
    <Property Name="RunAndPause" Type="System.Boolean">False</Property>
    <Property Name="AcpiEnabled" Type="System.Boolean">True</Property>
    <Property Name="Status" Type="System.String">Down</Property>
    <Property Name="Ip" Type="System.String" />
    <Property Name="HostName" Type="System.String" />
    <Property Name="UpTime" Type="System.TimeSpan">00:00:00</Property>
    <Property Name="LoginTime" Type="System.Nullable`1[[System.DateTime, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" />
    <Property Name="CurrentUserName" Type="System.String" />
    <Property Name="LastLogoutTime" Type="System.Nullable`1[[System.DateTime, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" /
>
    <Property Name="ElapsedTime" Type="System.Decimal">0</Property>
    <Property Name="RunningOnHost" Type="System.Int32">{10}</Property>
    <Property Name="MigratingToHost" Type="System.Int32">-1</Property>
    <Property Name="ApplicationList" Type="System.String[]" />
    <Property Name="DisplayPort" Type="System.Int32">-1</Property>
    <Property Name="HighlyAvailable" Type="System.Boolean">False</Property>
    <Property Name="TimeZone" Type="System.String">Romance Standard Time</Property>
    <Property Name="PoolId" Type="System.Int32">{11}</Property>
  </Object>
  <Object Type="RhevmCmd.MemoryStatistics">
    <Property Name="memSizeMb" Type="System.Int32">1024</Property>
    <Property Name="usageMemPercent" Type="System.Int32">50</Property>
  </Object>
  <Object Type="RhevmCmd.CLICpu">
    <Property Name="Name" Type="System.String">Virtual CPU</Property>
    <Property Name="Model" Type="System.String">Virtual CPU</Property>
    <Property Name="Cores" Type="System.Int32">1</Property>
    <Property Name="Speed" Type="System.Decimal">0</Property>
    <Property Name="User" Type="System.Decimal">10</Property>
    <Property Name="System" Type="System.Decimal">20</Property>
    <Property Name="Idle" Type="System.Decimal">30</Property>
    <Property Name="Load" Type="System.Decimal">40</Property>
  </Object>

