  <!-- args: id, name, description -->
  <Object Type="RhevmCmd.CLIStorageDomain">
    <Property Name="StorageDomainId" Type="System.String">00000000-0000-0000-0000-000000000000</Property>
    <Property Name="VGId" Type="System.String">{0}</Property>
    <Property Name="DomainType" Type="System.String">Data (Master)</Property>
    <Property Name="Name" Type="System.String">{1}</Property>
    <Property Name="DataCenterId" Type="System.String" />
    <Property Name="DataCenterName" Type="System.String" />
    <Property Name="Type" Type="VdcCommon.BusinessEntities.StorageType">
      <Property Name="value__" Type="System.Int32">3</Property>
    </Property>
    <Property Name="NFSPath" Type="System.String" />
    <Property Name="AvailableDiskSize" Type="System.Int32">39</Property>
    <Property Name="Status" Type="VdcCommon.BusinessEntities.StorageDomainStatus">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
    <Property Name="SharedStatus" Type="VdcCommon.BusinessEntities.StorageDomainSharedStatus">
      <Property Name="value__" Type="System.Int32">0</Property>
    </Property>
    <Property Name="UsedDiskSize" Type="System.Int32">0</Property>
    <Property Name="CommittedDiskSize" Type="System.Int32">0</Property>
  </Object>
